@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/roboto-400.woff2") format("woff2"),
    url("../fonts/roboto-400.woff") format("woff"),
    url("../fonts/roboto-400.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/roboto-500.woff2") format("woff2"),
    url("../fonts/roboto-500.woff") format("woff"),
    url("../fonts/roboto-500.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/roboto-700.woff2") format("woff2"),
    url("../fonts/roboto-700.woff") format("woff"),
    url("../fonts/roboto-700.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/roboto-900.woff2") format("woff2"),
    url("../fonts/roboto-900.woff") format("woff"),
    url("../fonts/roboto-900.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/raleway-700.woff2") format("woff2"),
    url("../fonts/raleway-700.woff") format("woff"),
    url("../fonts/raleway-700.ttf") format("truetype");
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
}

body {
  min-width: 1170px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #212121;
  box-sizing: border-box;
}

.button {
  display: inline-block;
  box-sizing: border-box;
  height: 50px;
  border-width: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #2196f3;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
}

.button:hover,
.button:focus-visible {
  cursor: pointer;
  background: #188ce8;
  outline: none;
}

.button:focus-visible {
  cursor: pointer;
  background: #188ce8;
  outline: 1px solid rgba(255, 255, 255, 0.6);
  outline-offset: 0.3em;
  border-radius: 0.03em;
}

.input {
  box-sizing: border-box;
  width: 358px;
  height: 50px;
  padding: 10px 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 22px;
}

.input:hover,
.input:focus,
.input:active {
  outline: none;
  border-color: #2196f3;
}

/* Зовнішні wrapper-оболочки для секцій. Створені щоб можно було задавати макетні фони, або прибирати їх на будь якій інформаційній секіції. В секціях з фоном присутні padding-top padding-bottm. */

.dark-wrapper {
  padding: 60px 0;
  color: #ffffff;
  background-color: #2f303a;
}

.dark-wrapper .navigation-link {
    color: #ffffff;
}

.dark-wrapper .input {
  caret-color: rgba(255, 255, 255, 0.6);
  color: rgba(255, 255, 255, 0.6);
}

.light-wrapper {
  padding: 94px 0;
  background-color: #ffffff;
}

.grey-wrapper {
  padding: 94px 0;
  background-color: #f5f4fa;
}

/* Якщо wrapper-оболонки з однаковим кольором фону йдуть одна за одною, обнуляємо один з padding-ів. Інакше padding-и додаються й виходит велика візуальна відстань між секціями з однаковим фоновим кольором */

.grey-wrapper + .grey-wrapper {
  padding-top: 0;
}

.light-wrapper + .light-wrapper {
  padding-top: 0;
}

/* Внутрішній контейнер для семантичної секціі, який задає ширину для інформаційного контенту й центрує його */

.container {
  width: 1170px;
  margin: 0 auto;
}

.navigation-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}

.section-title {
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: center;
}

.section-sub-title {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/** .main {} */

/* Стилізація :hover :focus станів */

.navigation-link:hover,
.navigation-link:focus,
.footer-contacts:hover,
.footer-contacts:focus {
  color: #2196f3;
  outline: none;
}

.logotype:focus-visible {
  outline: 1px solid #2196f3;
  outline-offset: 0.3em;
  border-radius: 0.03em;
}

.navigation-link.clients-link:hover,
.navigation-link.clients-link:focus {
  border-color: #2196f3;
}

.navigation-link.clients-link:hover .svg-link,
.navigation-link.clients-link:focus .svg-link {
  cursor: pointer;
  fill: #2196f3;
}

/* ЗАГОЛОВОК */

.logotype {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 31px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  letter-spacing: 0.03em;
}

.logotype .highlight-logo {
  color: #2196f3;
}

.header {
  display: flex;
  padding: 32px 0;
}

.page-navigation {
  display: flex;
  margin-left: 93px;
}

.header-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navigation-list.header-list:last-of-type {
  margin-left: auto;
}

.header-list .navigation-item + .navigation-item {
  margin-left: 50px;
}

.navigation-contacts {
  color: #757575;
}

.this-page {
  cursor: default;
}

.this-page:hover {
  color: initial;
}

/* ОСНОВНА ЧАСТИНА */

/* Банер для замовлення послуги */
.promo-image {
  background-image: url("../images/promo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.order {
  min-height: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-title {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  color: #ffffff;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}

.order .button {
  min-width: 216px;
  padding: 1px 32px;
}

/* Переваги */

/** .advantages {} */

.advantages-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
}

.advantages-icon {
  display: block;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 55px;
  background: #f5f4fa;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.navigation-item:nth-of-type(1) .advantages-icon {
  background-image: url("../images/antenna.svg");
}

.navigation-item:nth-of-type(2) .advantages-icon {
  background-image: url("../images/clock.svg ");
}

.navigation-item:nth-of-type(3) .advantages-icon {
  background-image: url("../images/diagram.svg");
}

.navigation-item:nth-of-type(4) .advantages-icon {
  background-image: url("../images/astronaut.svg");
}

.advantages-text {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

/* Чим ми займаємося */

/** .occupation {} */

.occupation-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}

.occupation-inner-box {
  position: relative;
}

.occupation-sub-title {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  margin: 0;
  padding: 27px 0;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  text-align: center;
}

/* Додав цей клас оскільки img штука інлайнова то має знизу якийсь відступ. Після перетворення у блочну модель цей зайвий відступ знизу зникає.   */

.occupation-image {
  display: block;
}

/* Наша команда */

/** .team {} */

.team-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
}

.team-list > .navigation-item {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-image {
  display: block;
  margin-bottom: 30px;
}

.team-sub-title,
.team-text {
  margin: 0;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
}

.team-sub-title {
  font-weight: 500;
  margin-bottom: 10px;
}

.team-inner-box {
  margin: auto 0;
  padding: 0 32px;
}

.team-text {
  font-weight: 400;
  color: #757575;
}

/* Команда - картки - соціальні мережі */

.social-list {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  padding: 0 32px;
}

.social-list .navigation-link {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.footer .social-list .navigation-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-list .navigation-link:hover,
.social-list .navigation-link:focus {
  background-color: #2196f3;
}

/* Постійні клієнти */

.clients-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 30px;
}

.clients-list .svg-link {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

/* ФУТЕР */

.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  /* color: #ffffff; */
}

.footer .logotype {
  color: inherit;
  margin-bottom: 20px;
}

/* .footer .navigation-link {

} */

.footer .address .navigation-item + .navigation-item {
  margin-top: 9px;
}

.footer .address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.footer-contacts {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.footer .section-sub-title {
  /* Оці  margin-top: 12px; є костиль! Взагалі потрібно усі сусідні заголовки в футері посадити на базову лінію. А оскількі лівий логотип більше, то трохи все й поїхало. За замовчуванням й з огляду на розмітку все рівняється поверху Іншого варіанту не додумав - втомився, тому поки що так. Якщо розміри заголовків зміняться знову тре буде міняти */
  margin-top: 12px;
  margin-bottom: 20px;
}

.footer .social-list {
  justify-content: flex-start;
  column-gap: 10px;
}

.address-area {
  grid-column: 1 / 2;
}

.social-area {
  grid-column: 2 / 3;
}

.maillist-area {
  grid-column: span 2;
}

.maillist {
  display: flex;
  column-gap: 12px;
}

.maillist .button {
  padding: 1px 28px;
}

.button .telegram-ico {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  vertical-align: middle;
  background-image: url("../images/telegram-ico.svg");
  background-repeat: no-repeat;
  background-position: center;
}
